---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <div class="entry-wrap">
      <div class="entry-content">
        {{ content }}
      </div>
      <aside class="entry-sidebar">
        {% include author %}
        {% if author_picture %}
          <img class="author-picture" src="https://github.com/hello-yall/hello-yall.github.io/blob/master/_images/IMG_2309.JPG" alt="Keondra Bailey">
        {% endif %}
      </aside>
    </div>
  </div>
</main>
